/*
    Contains styling for the horizontal and vertical split panes
    Author: Brad Triebwasser
*/
.split-pane-vertical {
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    height: 100%;
    
}

.split-pane-vertical >.split-handle {
    width: 6px;
    height: 100%;
    background: #C9C9C9;
    display: flex;
    cursor: ew-resize;
    border-left: 1px solid #A6A6A6;
    border-right: 1px solid #A6A6A6;
}

.split-pane-vertical .split-component-1 {
    height: 100%;
    background: white;
    display: flex;
    overflow-y: auto;
    
    vertical-align: top;  
}
.split-pane-vertical .split-component-2 {
    height: 100%;
    background: white;
    display: flex;
    overflow: auto;
    vertical-align: top;
    flex: 1;   
}

.split-pane-horizontal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.split-pane-horizontal > .split-handle {
    height: 6px;
    width: 100%;
    background: #C9C9C9;
    display: flex;
  flex-direction: column;
  cursor: ns-resize;
  border-top: 1px solid #A6A6A6;
    border-bottom: 1px solid #A6A6A6;

}


.split-pane-horizontal .split-component-1 {
    background: white;
    height: 50%;
}
.split-pane-horizontal .split-component-2 {
    flex: 1;    
    background: white;
    }

