/*
    Main Page Styling
*/

html {
	height: 100%;
    max-height: 100%;
}

body {
    width: 100%;
	margin: 0px 0px 0px 0px;
	font-family: Calibri, Arial, sans-serif;
	background-color: #e8e6e6;	
    height: 100%;
    

}

input[type=text].styled-input  {
    border-radius: 2px;
    border: 1px solid #B3B3B3;
    vertical-align: middle;
    padding-left: 3px;
}
.styled-select {
    width: calc(100% + 2px); 
    border-radius: 2px;
    border: 1px solid #B3B3B3;
}



/* Wrapper for the main content below the toolbar */
.wrapper{
    height: calc(100% - 41px);  
    box-sizing: border-box
}

.workspace-list {
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;  
    height: 100%; 
    max-height: 100%;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
 
}

.workspace-list > div {
    display: block;
    width: 100%;
    text-align: center;
    background: white;
}

.workspace-list .title {
    display: block;
    font-weight: bold;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.38);
    background-color: #accdff;
    border-bottom: 2px solid #6f9de5;
    border-top: 1px solid #bdc4de;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition-duration: 0.5s;
}

.workspace-list >div.active .title {
    display: block;
    font-weight: bold;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.38);
    background-color: #ffecac;
    border-bottom: 2px solid #d9c964;
     border-top: 1px solid #f2f0d3;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.workspace-list .title img {
    margin: 2px;   
    vertical-align: middle;
}

.workspace-list .content {
    overflow: hidden;
    text-align: left;
    padding: 8px;
}



/*Table for the list of search parameters */
.search-parameter-table {
    width: calc(100% - 8px);
    margin-left: 4px;
    margin-right: 4px;
    box-sizing: border-box;
    font-size: 0.7em;
  
}

.search-parameter-table td {
    white-space: nowrap;
}

.search-parameter-input {
    border-radius: 2px;
    border: 1px solid #B3B3B3;
    vertical-align: middle;
}

.search-parameter-input[type="text"] {
    width: 100%; 
}

.search-parameter-select {
    width: calc(100% + 2px); 
    border-radius: 2px;
    border: 1px solid #B3B3B3;
}

.search-parameter-title {
    text-align: right;   
    flex: 0;
    -moz-user-select: -moz-text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

/* NOTE: This is the little 16x16 search button beside the search parameter*/
.search-parameter-search {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #B3B3B3;
    background-image: url("../img/icons/magnifier.png");
    background-position: center; 
    background-position: calc(50%) calc(50%); 
    background-repeat: no-repeat;
    background-size: 75%;
    border-radius: 2px;
    background-color: #e8e6e6;
    vertical-align: middle;
    margin-left: 6px;
}


.search-parameter-search.disabled {
    background-image: url("../img/icons/magnifier-disabled.png");
}



.search-parameter-search:not(.disabled):hover {
    border: 1px solid #808080;
    background-color: #CCCCCC;
}

.search-parameter-search:not(.disabled):active {
    border: 1px solid #808080;
    background-color: #b7b7b7; /* Old browsers */
    background-position: calc(50% + 1px) calc(50% + 1px); 

}

/* NOTE: This is the little expand shevron button */
.search-parameter-expand {
     display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("../img/icons/chevron.png");
    background-position: center; 
    background-position: calc(50%) calc(50%); 
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 2px;
    vertical-align: middle;
    margin-left: 6px;
}
.search-parameter-expand.expand {
    background-image: url("../img/icons/chevron-expand.png");
}


.search-parameter-expand:hover {
    -webkit-filter: brightness(1.5);
}

.search-parameter-expand:active {
    background-position: calc(50% + 1px) calc(50% + 1px); 
}

.search-parameter-search-button {
    background-image: url("../img/icons/magnifier.png");
    background-position: 2px 50%; 
    background-repeat: no-repeat;
    background-size: 18%;
    padding-left: 16px;
}


/* Inner table to have a text input with a small search button beside it */
.search-parameter-inner-table {
       width: calc(100% + 2px); 
    margin-left: -1px;
    padding: 0px;
    margin: 0px;
     height: 19px;
    border-spacing: 0px;

}
.search-parameter-inner-table td {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.workspace-list .content p {
    margin: 8px;   
}



.tab-view {
    width: 100%;
    background: #E8E8E8;
}

.tab-navigation {
    height: 26px;
    display: table;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

   
}

.tab-navigation .tab {
    display: table-cell;
    padding-left: 6px;
    padding-right: 6px;
    line-height: 16px;
    font-weight: bold;
    vertical-align: middle;
    border: 2px solid orange;
    border-image: url("../img/tab.png") 2 2 2 2 fill repeat repeat;
    transition-duration:  0.3s;
    color: black;
    position: relative;
    top: 1px;
    cursor: pointer;
    font-size: 0.8em;
    white-space: nowrap;
    
}

.tab-navigation .tab.selected  {
    color: black;
    
    border-image: url("../img/tab_selected.png") 2 2 2 2 fill repeat repeat;
    background-color: white;
}

.tab-content {
    border-top: 1px solid #868695;   
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: none;
    background: white;
}

.tab-view.split-component-fill > .tab-content {

    height: calc(100% - 26px);
    overflow: auto;
}

.tab-close-button {
    display: inline-block;
    width: 12px;
    height: 12px;

    border: 1px solid rgba(1,1,1,0);
    margin-left: 4px;
    vertical-align: middle;
    background-image: url("../img/icons/cross-small.png");
    background-position: center; 
    background-position: calc(50%) calc(50%); 
    background-repeat: no-repeat;
    border-radius: 2px;
    
}

.tab-close-button.disabled {
     -webkit-filter: grayscale(1);
}

.tab-close-button:not(.disabled):hover {
    border: 1px solid #808080;
    background-color: #CCCCCC;
}

.tab-close-button:not(.disabled):active {
    border: 1px solid #808080;
    background-color: #b7b7b7; /* Old browsers */
    background-position: calc(50% + 1px) calc(50% + 1px); 
}


/*
  Set the color of the loading icon icon (From http://codepen.io/aurer/pen/jEGbA)
*/
.loader {
    min-width: 16px;
    min-height: 16px;
    width: 128px;
    height: 128px;
    background: url("../img/loader.png");
    animation: rotation 0.5s infinite linear;
    -webkit-animation: rotation 0.5s infinite linear;
    position: relative;
    left: calc(50% - 64px);
    top: calc(50% - 64px);
    background-size: cover;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to   {-moz-transform: rotate(359deg);}
}

.multi-select-parameter-box {
    border: 1px solid #BFBFBF;
    background: #EDEDED;
    margin-top: 3px;
}


.multi-select-parameter-box-options {
    height: 105px;
    overflow-x: hidden;
    overflow-y: auto;
}

.multi-select-parameter-box-buttons {
    padding: 3px;
    text-align: right;
    background: #D1D1D1;
}

.multi-select-parameter-box-buttons button {
    border: 1px solid gray;
    background: white;
    border-radius: 2px;
}
.multi-select-textbox {
    color: #828282;
    padding-left: 4px;
}

.detail-view-properties-table {
    margin: 8px;
    font-size: 0.8em;
}

.login-bg {
    width: 100%;
    height: 300px;
    background-color: #005A8C;   
}
.login-panel {
    width: 600px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    position: relative;
    top: -64px;
    -webkit-box-shadow: 1px 1px 23px 0px rgba(0,0,0,0.36);
-moz-box-shadow: 1px 1px 23px 0px rgba(0,0,0,0.36);
box-shadow: 1px 1px 23px 0px rgba(0,0,0,0.36);
    border-radius: 2px;
    background-color: #e6eff4;   
   
}

.login-panel-header{
    height: 64px;
    background: white;
    width: 100%;
    border-radius: 2px;
    font-size: 2em;
    line-height: 64px;
    vertical-align: middle;
    padding-left: 16px;
    box-sizing: border-box;
    font-family: Arial;
    border-bottom: 1px solid #d8e3ea;
    color: #4a4a4a;
}

.login-table {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    color: #4a4a4a;
    position: relative;
    top: 36px;
}

.login-table input {
    padding: 4px;   
    background: white;
    border: 1px solid grey;
    margin: 8px;
    font-size: 1em;
}

.login-button {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px;
    font-size: 1.5em;
    margin: 16px;
    background: #005A8C;
    border: 0px;
    border-radius: 2px;
    color: white;
    width: 100px;
}

.login-footer {
    height: 32px;
    background: grey;
    width: 100%;
    position: fixed;
    bottom: 0;
    line-height: 32px;
    vertical-align: middle;
    color: #dedede;
    text-align: center;
    -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
    cursor: default;
}

.placeholder-font-color {
    color: #C2C2C2;

}

.modal-blur{
    width: 100%;
    height: 100%;
}
.modal-blur.active {
    -webkit-filter: blur(1px) brightness(0.8) grayscale(0.2);
      pointer-events: none;
}
.modal-window {
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    width: 600px;
    padding-bottom: 48px;
    background: white;
    -webkit-box-shadow: 1px 1px 12px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 12px -1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 12px -1px rgba(0,0,0,0.75);
    border: 1px solid #6E6E6E;
    border-radius: 4px;
    z-index: 23;
}   

.modal-window .title {
        background: #005A8C;
        color: white;
        font-weight: bold;
        padding: 3px;
        padding-left: 6px;
        border-radius-top: 4px;
}   
.modal-window .main {
        padding: 6px;
}

.modal-window .modal-cancel-button, .modal-ok-button {
    display: inline-block;
    width: 64px;
    height: 32px;
    background: #C44949;
    color: white;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
        -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

.modal-window .modal-cancel-button:hover {
    background: #D64F4F;
}
.modal-window .modal-cancel-button:active {
    background: #B84646;
}

.modal-window .modal-ok-button {
    background: #6FB547;
}
.modal-window .modal-ok-button:hover {
    background: #7AC44F;
}
.modal-window .modal-ok-button:active {
    background: #64A140;
}
.modal-window .buttons {
    display: block;
    width: calc(100% - 12px);
    position: absolute;
    bottom: 0;
    text-align: right;
    padding: 6px;


}

.disabled-parameter {
   opacity: 0.2;
    display: none;

}


.uuidscrollarea {
    height: 260px;
    overflow-y: auto;
    margin-top: 3px;
    border: 1px solid #D4D4D4;

}

