/*
    Contains styling for the toolbar and buttons/spacers on the toolbar
    Author: Brad Triebwasser
*/

.toolbar {
    height: 40px;
    display: block;
    width: 100%;
    border-bottom: 1px solid black;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 6px;
    background: #f7f7f7; /* Old browsers */
    background: -moz-linear-gradient(top,  #f7f7f7 0%, #dbdbdb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f7f7f7 0%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f7f7f7 0%,#dbdbdb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f7f7f7 0%,#dbdbdb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f7f7f7 0%,#dbdbdb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

.toolbar-spacer {
    display: inline-block;
    width: 1px;
    background: #B3B3B3;
    height: 30px;
    margin: 6px;
    margin-right: 4px;
    margin-left: 4px;
}
.toolbar-item {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #B3B3B3;
    margin: 8px;
    margin-right: 2px;
    margin-left: 2px;
    background-image: url("../img/icons/table-insert-row.png");
    background-position: center; 
    background-position: calc(50%) calc(50%); 
    background-repeat: no-repeat;
    border-radius: 2px;
    background-color: #e8e6e6;
}

.toolbar-item.disabled {
     -webkit-filter: grayscale(1);
}

.toolbar-item:not(.disabled):hover {
    border: 1px solid #808080;
    background-color: #CCCCCC;
}

.toolbar-item:not(.disabled):active {
    border: 1px solid #808080;
    background-color: #b7b7b7; /* Old browsers */
    background-position: calc(50% + 1px) calc(50% + 1px); 
}

.toolbar > .logo-banner {
    height: 40px;
    background-color: #005A8C;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 150px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-weight: bold;
    border-left: 1px solid #B3B3B3;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
}