<table class="datatable">
        <thead> 
            <tr>
                <th>Activity</th>             
                <th class="fillSpace"> </th>
            </tr>
        </thead>
    <tbody>                                
    </tbody>
</table>