<table class="datatable">
        <thead> 
            <tr>
                <th>Print Seq</th>             
                <th>Attribute</th>
                <th>Attribute Type</th>
                <th>Display UoM</th>
                <th>Rejection Min</th>
                <th>Rejection Max</th>
                <th>Value</th>
                <th>Measurement Method</th>
                <th>Requirement Rule</th>
                <th>Measurement Basis</th>
                <th>Display In Facility Balance Flg</th>
                <th class="fillSpace"> </th>
            </tr>
        </thead>
    <tbody>                                
    </tbody>
</table>