<table class="datatable">
        <thead> 
            <tr>
                <th>Convert from</th>
              
                <th>Multiply By</th>
              
                <th>To Get</th>
                <th>Location</th>
                <th>Temp Correction</th>
                <th>Effective Date</th>
                <th>Inactive Date</th>
                <th class="fillSpace"> </th>
            </tr>
        </thead>
    <tbody>                                
    </tbody>
</table>