<table class="datatable">
        <thead> 
            <tr>
                <th>Type</th>             
                <th>Group</th>
                <th>Effective Date</th>
                <th>Inactive Date</th>
                <th class="fillSpace"> </th>
            </tr>
        </thead>
    <tbody>                                
    </tbody>
</table>