<table class="detail-view-properties-table">
	<tbody>
	<tr>
      <td><b>Item Code</b></td>
      <td><input class="styled-input" type="text" value="P93"></td>
  	</tr>
  	<tr>
      <td><b>Item Group</b></td>
      <td>
        <select class="styled-select">
          <option value="option1">Petroleum Coke</option>
        </select>
      </td>
  	</tr>
  	<tr>
      <td><b>Type</b></td>
      <td>
        <select class="styled-select">
          <option value="option1">Product</option>
        </select>
      </td>
  	</tr>
  	<tr>
      <td>Expiry Date</td>
      <td>
        <select class="styled-select">
          <option value="option1"> / / </option>
        </select>
      </td>
  	</tr>
  	<tr>
      <td><b>Long Description</b></td>
      <td><input class="styled-input" type="text" value="Petcoke - 10/20 mm"></td>
  	</tr>
  	<tr>
      <td><b>Short Description</b></td>
      <td><input class="styled-input" type="text" value="10/20 Petcoke"></td>
  	</tr>
  	<tr>
      <td><b>Location Control</b></td>
      <td><input type="checkbox" value="true"></td>
  	</tr>
  	<tr>
      <td>Temp Correction Factor</td>
      <td><input class="styled-input" type="text" value="1.000000000"></td>
  	</tr>
  	<tr>
      <td><b>Odorized Product</b></td>
      <td><input type="checkbox" value="true"></td>
  	</tr>
  	<tr>
      <td>Display Order</td>
      <td><input class="styled-input" type="text" value="1"></td>
  	</tr>
  	<tr>
      <td><b>Carry Inventory Quality</b></td>
      <td><input type="checkbox" value="true"></td>
  	</tr>
  	<tr>
      <td>RIN Required</td>
      <td><input type="checkbox" value="true"></td>
  	</tr>
  	<tr>
      <td><b>Enter By Component</b></td>
      <td><input type="checkbox" value="true"></td>
  	</tr>
  	<tr>
      <td>Update Date</td>
      <td><input class="styled-input" type="text" value="06/06/2007 06:21:20 PM" disabled></td>
  	</tr>
  	<tr>
      <td>Update User</td>
      <td><input class="styled-input" type="text" value="QA_MARK" disabled></td>
  	</tr>
  	<tr>
      <td>Default Display Precision</td>
      <td><input class="styled-input" type="text" value="All Item Groups"></td>
  	</tr>
  	<tr>
      <td>Graphical View - Line Color</td>
      <td>
        <select class="styled-select">
          <option value="option1"></option>
        </select>
      </td>
  	</tr>
  	<tr>
      <td>Graphical View - Line Fill Style</td>
      <td>
        <select class="styled-select">
          <option value="option1"></option>
        </select>
      </td>
  	</tr>
  	<tr>
      <td><b>Allocation By Component</b></td>
      <td>
        <select class="styled-select">
          <option value="option1">Always</option>
        </select>
      </td>
  	</tr>
	</tbody>
</table>