<table class="datatable">
        <thead> 
            <tr>
                <th>Item</th>             
                <th>Relation Type</th>
                <th>Display Dequence</th>
                <th>Formula %</th>
                <th class="fillSpace"> </th>
            </tr>
        </thead>
    <tbody>                                
    </tbody>
</table>