@(item: EnteroObject)

<table class="detail-view-properties-table">
	<tbody>
	<tr>
      <td><b>Item Code</b></td>
      <td><input class="styled-input" type="text" value="@item.getProperty("Item code")"></td>
  	</tr>
  	<tr>
      <td><b>Item Group</b></td>
      <td>
        <select class="styled-select">
          <option value="option1">@item.getProperty("Item group")</option>
        </select>
      </td>
  	</tr>
  	<tr>
      <td><b>Type</b></td>
      <td>
        <select class="styled-select">
          <option value="option1">@item.getProperty("Type")</option>
        </select>
      </td>
  	</tr>
  	<tr>
      <td>Expiry Date</td>
      <td>
        <select class="styled-select">
          <option value="option1">@item.getProperty("Expiry Date")</option>
        </select>
      </td>
  	</tr>
  	<tr>
      <td><b>Long Description</b></td>
      <td><input class="styled-input" type="text" value="@item.getProperty("Long description")"></td>
  	</tr>
  	<tr>
      <td><b>Short Description</b></td>
      <td><input class="styled-input" type="text" value="@item.getProperty("Short description")"></td>
  	</tr>
  	<tr>
      <td><b>Location Control</b></td>
      <td><input type="checkbox" value="true" 
        @if(item.getProperty("Location Control")=="true") {
          checked
        }
      ></td>
  	</tr>
  	<tr>
      <td>Temp Correction Factor</td>
      <td><input class="styled-input" type="text" value="@item.getProperty("Temp Correction Factor")"></td>
  	</tr>
  	<tr>
      <td><b>Odorized Product</b></td>
      <td><input type="checkbox" value="true"
         @if(item.getProperty("Odorized Product")=="true") {
          checked
        }
      ></td>
  	</tr>
  	<tr>
      <td>Display Order</td>
      <td><input class="styled-input" type="text" value=""></td>
  	</tr>
  	<tr>
      <td><b>Carry Inventory Quality</b></td>
      <td><input type="checkbox" value="true"></td>
  	</tr>
  	<tr>
      <td>RIN Required</td>
      <td><input type="checkbox" value="true"
         @if(item.getProperty("RIN Required")=="true") {
          checked
        }
      ></td>
  	</tr>
  	<tr>
      <td><b>Enter By Component</b></td>
      <td><input type="checkbox" value="true"
        @if(item.getProperty("Allocation By Component")=="true") {
          checked
        }
      ></td>
  	</tr>
  	<tr>
      <td>Update Date</td>
      <td><input class="styled-input" type="text" value="@item.getProperty("Update date")" disabled></td>
  	</tr>
  	<tr>
      <td>Update User</td>
      <td><input class="styled-input" type="text" value="@item.getProperty("Update user")" disabled></td>
  	</tr>
	<tr>
      <td>Create User</td>
      <td><input class="styled-input" type="text" value="@item.getProperty("Create user")" disabled></td>
  	</tr>

  	<tr>
      <td>Default Display Precision</td>
      <td><input class="styled-input" type="text" value=""></td>
  	</tr>
  	<tr>
      <td>Graphical View - Line Color</td>
      <td>
        <select class="styled-select">
          <option value="option1"></option>
        </select>
      </td>
  	</tr>
  	<tr>
      <td>Graphical View - Line Fill Style</td>
      <td>
        <select class="styled-select">
          <option value="option1"></option>
        </select>
      </td>
  	</tr>
  	<tr>
      <td><b>Allocation By Component</b></td>
      <td>
        <select class="styled-select">
          <option value="option1">@item.getProperty("Allocation By Component")</option>
        </select>
      </td>
  	</tr>
	</tbody>
</table>
