@(item: EnteroObject, rightPane: List[EnteroObject])
<div class="split-pane-vertical">
    <div class="split-component-1" style="width: 50%; height: 100%;">

<table class="detail-view-properties-table split-component-fill" data-fillPadSide="32">
	<tbody>
	<tr>
      <td>Price Category</td>
      <td>
          <select class="styled-select" disabled>
              <option value="option1" selected>@item.getProperty("Price Category")</option>
          </select>
          </td>
  	</tr>
  	<tr>
      <td>Description</td>
      <td>
          <textarea>@item.getProperty("Description")</textarea>
      </td>
  	</tr>
  	<tr>
      <td><b>Price Id</b></td>
      <td>
          <input class="styled-input" type="text" value="@item.getProperty("id")">
      </td>
  	</tr>
  	<tr>
      <td>Trading Group</td>
      <td>
        <select class="styled-select" disabled>
          <option value="option1"></option>
        </select>
      </td>
  	</tr>
  	<tr>
      <td><b>Source Location</b></td>
      <td><input class="styled-input" type="text" value="@item.getProperty("Source Location")"></td>
  	</tr>
  	<tr>
      <td><b>Destination Location</b></td>
      <td><input class="styled-input" type="text" value="@item.getProperty("Destination Location")"></td>
  	</tr>
  	<tr>
      <td><b>Item</b></td>
      <td><input class="styled-input" type="text" value="@item.getProperty("Item")" disabled></td>
  	</tr>
  	<tr>
      <td>Unit of Measure</td>
      <td>
          <select class="styled-select" disabled>
            <option value="option1">@item.getProperty("UoM")</option>
            </select>
      </td>
  	</tr>
  	<tr>
      <td><b>Currency</b></td>
      <td>
          <select class="styled-select" disabled>
              <option value="option1">@item.getProperty("Currency")</option>
          </select>
      </td>
  	</tr>
  	<tr>
      <td><b>Exchange Rate Type</b></td>
      <td>
          <select class="styled-select" disabled>
              <option value="option1"></option>
          </select>
      </td>
  	</tr>
  	<tr>
      <td>Risk Type</td>
      <td>
          <select class="styled-select">
              <option value="option1">Any</option>
          </select>
      </td>
  	</tr>
  	<tr>
      <td>Trading Calendar</td>
      <td>
          <select class="styled-select">
              <option value="option1"></option>
          </select>
      </td>
  	</tr>
  	<tr>
      <td>Stakeholder</td>
      <td><input class="styled-input" type="text" value=""></td>
  	</tr>
  	<tr>
      <td>Business Unit</td>
      <td><input class="styled-input" type="text" value=""></td>
  	</tr>
  	<tr>
      <td>Group</td>
      <td><input class="styled-input" type="text" value=""></td>
  	</tr>
	<tr>
      <td>SubGroup</td>
      <td><input class="styled-input" type="text" value=""></td>
  	</tr>

  	<tr>
      <td>Distance Bracket Lower</td>
      <td><input class="styled-input" type="text" value=""></td>
  	</tr>
  	<tr>
      <td>Distance Bracket Upper</td>
      <td>
          <input class="styled-input" type="text" value="">
      </td>
  	</tr>
  	<tr>
      <td>Distance Bracket UoM</td>
      <td>
        <select class="styled-select" disabled>
          <option value="option1"></option>
        </select>
      </td>
  	</tr>
  	<tr>
      <td>Expiry Date</td>
      <td>
        <select class="styled-select">
          <option value="option1"> / / </option>
        </select>
      </td>
  	</tr>
    <tr>
        <td>Update Date</td>
        <td>
            <input class="styled-input" type="text" value="@item.getProperty("Update Date")" disabled>
        </td>
    </tr>
    <tr>
        <td>Update User</td>
        <td>
            <input class="styled-input" type="text" value="@item.getProperty("Update User")" disabled>
        </td>
    </tr>
	</tbody>
</table>
    </div>
    <div class="split-handle">
    </div>
    <div class="split-component-2">

<table class="datatable exportable noloadcolumns" id="price-detail-table">
    <thead>
    <tr>
        <th>Effective Date</th>
        <th>Amount</th>
        <th>Change</th>
        <th>Type</th>
        <th>Complete Date</th>
        <th>As Of Date</th>
        <th class="fillSpace"> </th>
    </tr>
    </thead>
    <tbody>
    @for(item <-  rightPane) {
        <tr class="search-result-item">
            <td>@item.getProperty("Effective Date")</td>
            <td>@item.getProperty("Amount")</td>
            <td>@item.getProperty("Effective Date")</td>
            <td> </td>
            <td>@item.getProperty("Complete Date")</td>
            <td></td>
        </tr>
    }
    </tbody>
</table>
        <script>
            var table = $("#price-detail-table");
            var dt = new Datatable();

            dt.setTable(table);

        </script>
        </div>
  <script>
      initializeSplitPanes();

  </script>
