@(item: EnteroObject, bottomPane: List[EnteroObject])

<div class="split-pane-horizontal split-component-fill">
    <div class="split-component-1" style="height: 50%; width: 100%;">

<table class="detail-view-properties-table split-component-fill">
	<tbody>
	<tr>
      <td>Pay / Rec</td>
      <td>
            <select class="styled-select">
                <option value="option1">@item.getProperty("Pay/Rec")</option>
            </select>
      </td>
        <td>Issued</td>
        <td>
            <select class="styled-select">
                <option value="option1">@item.getProperty("Issued Date")</option>
            </select>
        </td>
        <td>
            <input class="styled-input" type="checkbox" value="">
        </td>
        <td>Net:</td>
        <td>
            <input class="styled-input" type="text" value="$@("%.2f".format(Float.parseFloat(item.getProperty("Pre-Tax Total"))))">
        </td>
  	</tr>
  	<tr>
      <td>CP</td>
      <td>
          <input class="styled-input" type="text" value="@item.getProperty("CP")">
      </td>
        <td>Due</td>
        <td>
            <select class="styled-select">
                <option value="option1">@item.getProperty("Due Date")</option>
            </select>
        </td>
        <td>
            <input class="styled-input" type="checkbox" value="">
        </td>
        <td>Tax:</td>
        <td>
            <input class="styled-input" type="text" value="$@("%.2f".format(Float.parseFloat(item.getProperty("Tax Total"))))">
        </td>
  	</tr>
  	<tr>
      <td>CP Contact</td>
      <td>
          <input class="styled-input" type="text" value="@item.getProperty("CP Contact")">
      </td>
        <td>Discount</td>
        <td>
            <select class="styled-select">
                <option value="option1">@item.getProperty("Discount Date")</option>
            </select>
        </td>
        <td>
            <input class="styled-input" type="checkbox" value="">
        </td>
        <td>Adjust:</td>
        <td>
            <input class="styled-input" type="text" value="$@("%.2f".format(Float.parseFloat(item.getProperty("Adjustment"))))">
        </td>
  	</tr>
  	<tr>
      <td>CP Mail Addr</td>
      <td>
          <input class="styled-input" type="text" value="@item.getProperty("CP Mail Addr")">
      </td>
        <td>Receipt</td>
        <td>
            <select class="styled-select">
                <option value="option1">@item.getProperty("Receipt Date")</option>
            </select>
        </td>
        <td>

        </td>
        <td>Discount</td>
        <td>
            <input class="styled-input" type="text" value="$@("%.2f".format(Float.parseFloat(item.getProperty("Discount"))))">
        </td>
  	</tr>
  	<tr>
      <td>BU</td>
      <td>
          <input class="styled-input" type="text" value="@item.getProperty("BU")">
      </td>
        <td>Invoice ID</td>
        <td>
            <input class="styled-input" type="text" value="@item.getProperty("Invoice Id")">
        </td>
        <td>
            <input class="styled-input" type="checkbox" value="">
        </td>
        <td>Total</td>
        <td>
            <input class="styled-input" type="text" value="$@("%.2f".format(Float.parseFloat(item.getProperty("Total"))))">
        </td>
  	</tr>
  	<tr>
      <td>BU Contact</td>
      <td>
          <input class="styled-input" type="text" value="@item.getProperty("BU Contact")">
      </td>
        <td>Invoice Ref</td>
        <td>
            <input class="styled-input" type="text" value="@item.getProperty("Invoice Reference")">
        </td>
        <td>

        </td>
        <td>Self Assess</td>
        <td>
            <input class="styled-input" type="text" value="$@("%.2f".format(Float.parseFloat(item.getProperty("Self Assessed Total"))))">
        </td>
  	</tr>
  	<tr>
      <td>BU Addr</td>
      <td>
          <input class="styled-input" type="text" value="@item.getProperty("BU Mail Addr")">
      </td>
        <td>Status</td>
        <td>
            <select class="styled-select">
                <option value="option1">@item.getProperty("Current Status")</option>
            </select>
        </td>
        <td>

        </td>
        <td>Qty</td>
        <td>
            <input class="styled-input" type="text" value="">
        </td>
  	</tr>
  	<tr>
      <td>Remit Addr</td>
      <td>
          <input class="styled-input" type="text" value="@item.getProperty("Remit Addr")">
      </td>
        <td>Pay Mode </td>
        <td>
            <select class="styled-select">
                <option value="option1">@item.getProperty("Payment Mode")</option>
            </select>
        </td>
        <td>

        </td>
        <td>Accounting</td>
        <td>
            <select class="styled-select">
                <option value="option1"></option>
            </select>
        </td>
  	</tr>
  	<tr>
      <td>Account</td>
      <td>
            <select class="styled-select">
                <option value="option1">@item.getProperty("Account")</option>
            </select>
      </td>
        <td>Payments Attached:</td>
        <td>
            <input class="styled-input" type="checkbox" value=""> Seperate Payment <input class="styled-input" type="checkbox" value="">
        </td>
        <td>

        </td>
        <td>Approval</td>
        <td>
            <select class="styled-select">
                <option value="option1"></option>
            </select>
        </td>
  	</tr>
  	<tr>
      <td>Currency</td>
      <td>
          <select class="styled-select">
              <option value="option1">@item.getProperty("Currency")</option>
          </select>
      </td>
        <td>Payment Description:</td>
        <td>
        </td>
        <td>

        </td>
        <td>User</td>
        <td>
            <input class="styled-input" type="text" value="@item.getProperty("Create User")">
        </td>
  	</tr>
  	<tr>
      <td>Pay Terms</td>
      <td>
          <select class="styled-select">
              <option value="option1">@item.getProperty("Payment Terms")</option>
          </select>
      </td>
        <td rowspan="3" colspan="2"><textarea style="width: 100%;"></textarea></td>

        <td>
        </td>
        <td>Manual Pmt</td>
        <td>
            <input class="styled-input" type="checkbox" value="">
        </td>
  	</tr>
  	<tr>
      <td>Format</td>
      <td>
          <select class="styled-select">
              <option value="option1">@item.getProperty("Format")</option>
          </select>
      </td>

        <td>
        </td>
        <td>Bank GL Account </td>
        <td>
            <input class="styled-input" type="text" value="">
        </td>
  	</tr>
  	<tr>
      <td>Mode</td>
      <td>
          <select class="styled-select">
              <option value="option1">@item.getProperty("Mode")</option>
          </select>
      </td>
        <td>
        </td>
        <td>Finance Grace Days</td>
        <td>
            <input class="styled-input" type="text" value="">
        </td>
  	</tr>
  	<tr>
      <td>Last SC Generate Date</td>
      <td>
          <select class="styled-select">
              <option value="option1"></option>
          </select>
      </td>
        <td colspan="2"><input class="search-parameter-input" type="submit" value="View Image" style="width: 100%;"></td>
        <td>
        </td>
        <td>Finance Rate</td>
        <td>
            <input class="styled-input" type="text" value="">
        </td>
  	</tr>
    <tr>
        <td>Billing Period</td>
        <td>
            <table>
                <tr>
                    <td>
                        <select class="styled-select">
                            <option value="option1"></option>
                        </select>
                    </td>
                    <td>
                        <select class="styled-select">
                            <option value="option1"></option>
                        </select>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
	</tbody>
</table>
    </div>
    <div class="split-handle">
    </div>
    <div class="split-component-2">

        <table class="datatable exportable noloadcolumns" id="price-detail-table">
            <thead>
            <tr>
                <th>Ref #</th>
                <th>BOL/Ticket</th>
                <th>Description</th>
                <th>Qty</th>
                <th>UoM</th>
                <th>Unit Cost</th>
                <th>Trans Amt.</th>
                <th>Acctg. Date</th>
                <th>Effective Date</th>
                <th>Contract Line Ref.</th>
                <th>Location</th>
                <th>Item</th>
                <th>Cost Type</th>
                <th>Invoice Detail ID</th>
                <th class="fillSpace"> </th>
            </tr>
            </thead>
            <tbody>
            @for(item <-  bottomPane) {
            <tr class="search-result-item">
                <td>@item.getProperty("Ref #")</td>
                <td>@item.getProperty("BOL/Ticket")</td>
                <td>@item.getProperty("Description")</td>
                <td>@item.getProperty("Qty")</td>
                <td>@item.getProperty("UoM")</td>
                <td>@item.getProperty("Unit Cost")</td>
                <td>@item.getProperty("Trans Amt.")</td>
                <td>@item.getProperty("Acctg. Date")</td>
                <td>@item.getProperty("Effective Date")</td>
                <td>@item.getProperty("Contract Line Ref.")</td>
                <td>@item.getProperty("Location")</td>
                <td>@item.getProperty("Item")</td>
                <td>@item.getProperty("Cost Type")</td>
                <td>@item.getProperty("Invoice Detail ID")</td>
            </tr>
            }
            </tbody>
        </table>
        <script>
            var table = $("#price-detail-table");
            var dt = new Datatable();
            dt.setTable(table);
        </script>
    </div>
    <script>
        initializeSplitPanes();
    </script>
