@(items: List[EnteroObject])
<div>
<table class="datatable exportable" id="attributesdatatable" >
        <thead> 
            <tr>
                <th>Print Seq</th>             
                <th>Attribute</th>
                <th>Attribute Type</th>
                <th>Display UoM</th>
                <th>Rejection Min</th>
                <th>Rejection Max</th>
                <th>Value</th>
                <th>Measurement Method</th>
                <th>Requirement Rule</th>
                <th>Measurement Basis</th>
                <th>Display In Facility Balance Flg</th>
                <th class="fillSpace"> </th>
            </tr>
            </thead>
    <tbody>
            @for(item <- items) {
            <tr class="search-result-item">
                <td></td>
                <td>@item.getProperty("Attribute")</td>
                <td>@item.getProperty("Attribute Type")</td>
                <td>@item.getProperty("UoM")</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>@item.getProperty("Requirement Rule")</td>
                <td></td>
                <td></td>
            </tr>
            }
    </tbody>
</table>
</div>

<script>
            var table = $("#attributesdatatable");
            dt = new Datatable();
            dt.setTable(table);
</script>
