@(Options: List[String])
<table class="search-parameter-inner-table">
        <tr>
            <td>
                <input class="search-parameter-input multi-select-textbox" type="text" value="All Item Groups" readonly/>
            </td>

            <td style="width: 16px;">
                <div class="search-parameter-expand" data-expandElement="multi-param-0"></div>
            </td>
        </tr>
</table>
<div class="multi-select-parameter-box" id="multi-param-0" style="display: none;">
        <div class="multi-select-parameter-box-options">
        
        @for(i <- 0 to Options.size-1) {
        	<input type="checkbox" class="multi-option" id="multi-param-@i" name="vehicle" value="Bike" checked><label>@Options(i)</label> <br/>
        }       
        </div>
        <div class="multi-select-parameter-box-buttons">
                <button type="button" class="toggleAll">Select All</button>
        </div>
</div>
