@(items: List[EnteroObject], columns: List[String], sortedColumn: String, wsName: String, offset: Integer)

@if(offset>0) {
    @for(item <- items) {
    <tr class="search-result-item">
        <td style="display: none;" id="item-id">@item.getProperty("ID")</td>
        @for(column <- columns) {
        <td style="">@item.getProperty(column)</td>
        }
        <td></td>
    </tr>
    }
}else{


<table class="datatable exportable" >
                                    <thead> 
                                    <tr >
                                        <th style="display: none;" >ID</th>
                                     @for(column <- columns) {
                                        <th 
						@if(column==sortedColumn) {
							class="sort"
						}
					onclick="getWorkspaceManager().getActiveWorkspace().sortBy('@column');">@column</th>
                                      }
                                        <th class="fillSpace"> </th>
                                    </tr>
                                        </thead>
                                <tbody>
                                 @for(item <- items) {
                                 	<tr class="search-result-item">
                                        <td style="display: none;" id="item-id">@item.getProperty("ID")</td>
                                 	 @for(column <- columns) {
                                        <td>@item.getProperty(column)</td>
                                      }
                                        <td></td>
                                    </tr>
                                 }
                                </tbody>
                        </table>
}