@(items: List[EnteroObject], columns: List[String])

<table class="datatable uuidlookup" >
    <thead>
                                    <tr >
                                        <th style="display: none;" >ID</th>
                                        @for(column <- columns) {
                                        <th style="">@column</th>
                                        }
                                        <th class="fillSpace"> </th>
                                    </tr>
                                        </thead>
                                <tbody>
                                @for(item <-  items) {
                                <tr class="search-result-item">
                                    <td style="display: none;" id="item-id">@item.getProperty("ID")</td>
                                    @for(column <- columns) {
                                    <td>@item.getProperty(column)</td>
                                    }
                                </tr>
                              }
                                </tbody>
                        </table>
